{{define "Record"}}

    {{makeComment .Comment -}}
    {{- if .Single -}}
        type {{.Name}} {{typeDef .Single.Type}}
    {{else -}}
        type {{.Name}} struct {
            {{range .Fields}}
                {{template "RecordField" .}}
            {{end}}
        }
    {{end}}
{{end}}


{{define "RecordField"}}
    {{makeComment .Comment -}}
    {{.Name}} {{typeDef .Type}}
{{end}}

